/*about*/

.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.navBar {
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.navDark {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.navText {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'DM Sans', sans-serif;
}

.navText:hover {
    color:white;
}

.toggleButton {
    font-family: 'DM Sans', sans-serif !important;
    font-size: 16px;
    border-radius: 10px;
    border: 0px !important;
    background-color: rgb(175, 172, 172);
}

.darkToggle {
    border: 0px !important;
}

.backButton {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    padding:6px;
    background-color:#0066CC;
    color:white;
    vertical-align: auto;
    margin: 15px;
    transition: all 0.3s ease 0s;
}

.backButton:hover {
   width:100px;
   height:50px;
   border-radius: 30px;
   padding:6px;
   background-color:#0066CC;
   color:white;
   transition:all 0.4s ease 0s;
}

.backButton span {
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.backButton:hover span {
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.backButton:hover span:after {
    font-family: "Open Sans";
    margin-left: 10px;
    content: "Back";
    transition: all 0.3s ease 0s;
}

.aboutPage {
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
}


/*projects*/
.projectPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    text-align: center;
}

ul {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 10px;
}

#repoLink {
    background-image: url("./imgs/giticon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 55px;
    background-color: #f6f6f6;
    margin-bottom: 5%;
}

.modal {
    height: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
}

#nextButton {
    margin: 20px;
    vertical-align: center;
    text-align: center;
    width: 110px;
    font-size: 12px;
}

#nextButton:focus {
    outline: 0;
}